$primary__color: #F1CDB3;
$primary-light__color: #FDDCC4;
$light-xl__color: #FFFFFF;
$dark-s__color: #CDCDCD;
$dark-3xl__color: #292929;
$dark-l__color: #545454;
$dark-xl__color: #4C4C4C;
$dark-m__color: #B2B2B2;
$light-l__color: #F6F6F6;
$light-s__color: #FAFAFA;
$dark__color: #000000;

$desktop-width: 1280px;
$tablet-screen: 1199.98px;
$mobile-screen: 767.98px;