.header {
  width: 100%;
  position: absolute;
  align-self: center;
  top: 30px;

  &_our-pets {
    position: static;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $light-xl__color;
  }

}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
