.navigation__list {
  display: flex;
  gap: 35px;
  list-style: none;

}

.navigation__link {
  text-decoration: none;

  color: $dark-s__color;
  font-family: $arial__font;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}