.background {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-3xl__color;
  opacity: 0.6;

  &._active {
    display: block;
    overflow: hidden;
  }
}