.button {
  padding: 15px 45px;
  border-radius: 100px;
  border: none;
  transition: 0.2s;

  background-color: $primary__color;
  color: $dark-3xl__color;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.02px;

  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $primary-light__color;
    transition: 0.4s;
  }

  @media screen and (max-width: $tablet-screen) {
    align-self: center;
  }

}