* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  font-family: $georgia__font;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &._active {
    height: 100vh;
    overflow: hidden;
  }
}

h1 {
  color: $primary__color;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 1.92px;
}

h2 {
  color: $light-xl__color;
  font-size: 44px;
  line-height: 57.2px;

  @media screen and (max-width: $mobile-screen) {
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }

}

h3 {
  color: $dark-l__color;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 2.1px;

  @media screen and (max-width: $mobile-screen) {
    text-align: center;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }

}

h4 {
  color: $dark__color;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.2px;
}

p {
  font-size: 15px;
}