@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/Georgia.ttf);
}

@font-face {
  font-family: "Georgia-bold";
  src: url(../assets/fonts/Georgia-bold.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/Arial.ttf);
}

@font-face {
  font-family: "Arial-italic";
  src: url(../../assets/fonts/Arial-Italic.ttf);
}